.widget {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.widget--body {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.topanswers-site {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 !important;
}

.topanswers-site:last-of-type {
    border-bottom: 0;
}

.topanswers-site a {
    margin-left: 0.5em;
    font-weight: bold;
}
