.widget {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.widget--body {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}